.container{
    display: flex;
    justify-content: space-around;
    background-color: lightskyblue;
    border: 2px solid blue;
    padding: 5px;
}

.item{
    padding: 10px;
    background-color: peachpuff;
    border: 2px solid salmon;
    margin: 5px;
}