*{
    border: 2px solid violet;

}

.odd{
    background-color: pink;
    font-family: Verdana, sans-serif, 'Gill Sans';
}

#two{
    color: blue;
    font-size: 36px;
}

.f_size{
    font-size: 24px;
}

#bg_color{
    background-color: green;
    font-weight: bold;
}