div{
    background-color: blue;
    padding: 40px;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
}
.intro {
    background-color: #548CA8;
  }
  
  .main{
    background-color: #476072;
  }
  
  .Contact {
    background-color: #334257;
  }