.box_one{
    background-color: blue;
    border: 10px solid violet;
    padding: 50px;
    margin: 20px ;
    height: 100px;
    width: 100px;
    /* box-sizing: border-box; */
    /* height = height of content + padding + border  */
}

.box_two{
    background-color: red;
    border: 10px solid green;
    padding: 50px;
    margin: 10px ;
    height: 100px;
    width: 100px;
}

*{
    padding: 0;
    margin: 0;
    font-size: 40px;
    box-sizing: border-box;
}
